<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sekali Lagi HBD!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>
<body class="lastpage-body">

    <div class="special-container" style="max-width: 95%; width: 100%; justify-content: center; align-items: center;">
        
        <div class="photo-section fade-in-left">
            <div class="big-circle-frame" style="border-color: #b39ddb;"> 
                <img src="{{ url_for('static', filename=foto) }}" alt="Foto Spesial">
            </div>
        </div>

        <div class="text-section fade-in-right" style="padding-left: 250px; text-align: left;">
            
            <h3 class="final-small-text">Sekali lagi..</h3>
            
            <h1 class="final-big-text">Selamat<br>Ulang<br>Tahun!</h1>
            
            <h1 class="final-name-text">Clara</h1>

            <a href="/" class="btn-next-moment" style="margin-top: 30px; background-color: #b39ddb; border-color: #b39ddb;">Balik ke Login </a>
        </div>

    </div>

</body>
</html>